section.number
  .container
    .number-list
      +numberItem({
        number: "42", 
        text: "web designs projects"
      })
      +numberItem({
        number: "123", 
        text: "happy client"
      })
      +numberItem({
        number: "15", 
        text: "award winner"
      })
      +numberItem({
        number: "99",
        text: "cup of coffee"
      })
      +numberItem({
        number: "24", 
        text: "member"
      })