section.quote
  .container
    .quote-list
      +quoteItem({
        src: "./images/img-quote.png",
        desc: "\"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus amet voluptatibus nulla, maxime odio vel quaerat dolor, nemo eligendi quia fuga ratione, maiores porro dolorum at. Culpa atque aut autem.\"",
        author: "Jon Doe"
      })
      +quoteItem({
        src: "./images/img-quote.png",
        desc: "\"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus amet voluptatibus nulla, maxime odio vel quaerat dolor, nemo eligendi quia fuga ratione, maiores porro dolorum at. Culpa atque aut autem.\"",
        author: "Jon Doe 2"
      })
      +quoteItem({
        src: "./images/img-quote.png",
        desc: "\"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus amet voluptatibus nulla, maxime odio vel quaerat dolor, nemo eligendi quia fuga ratione, maiores porro dolorum at. Culpa atque aut autem.\"",
        author: "Jon Doe 3"
      })
      +quoteItem({
        src: "./images/img-quote.png",
        desc: "\"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus amet voluptatibus nulla, maxime odio vel quaerat dolor, nemo eligendi quia fuga ratione, maiores porro dolorum at. Culpa atque aut autem.\"",
        author: "Jon Doe 4"
      })

